
#title{
  background-color: #ff4c68;
  color:#fff;
}

.container-fluid{
  padding: 3% 12%;
}
h1{
  font-family: "Montserrat";
  font-weight:bold;
  height:1.5;
  }

  h3{
    font-family: "Montserrat-black";

  }
  p{
    color:#8f8f8f;
  }


.nav-link{
  font-family: "Montserrat";
  font-weight: normal;
  color: #fff;
}

.title-image{
  width:60%;
}

.download-button{
  margin:5%;
  font-family: "Montserrat"
}

.feature-box{
  padding:5% 8%;
  text-align: center;
  font-family: "Montserrat-black"
}

.icon{
  color: #ef8172;
  margin-bottom: 5%;
}
.icon:hover{
  color: #ff4c68;
}
